body{
    background-color: aliceblue;
    padding: 0%;
    width: auto;
}
h1{
    text-align: center;
    background-color: antiquewhite;
}
nav{
    background-color: beige;
}
li{
    padding: 10px;
}